@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&display=swap');


html, body{
  font-family: "Catamaran", sans-serif;
}

body p{
  font-family: "poppins", sans-serif;
}

h1,h2,h3,h4,h5{
  font-family: "Catamaran", sans-serif;
}

section.hero-section .container,section#Virtual-tour .container,section#Louisiana .container,section#Specialized .container,section#faq\'s .container  {
  max-width: 1060px;
}

section#Specialized .container {
  padding-top: 50px;
  padding-bottom: 60px;
}

section#faq\'s {
  padding-top: 70px !important;
  padding-bottom: 70px !important;
}


section#Specialized .card {
  background: #FFFFFF 0% 0%;
  box-shadow: 0px 3px 6px #0000004D !important;
  border-radius: 5px !important;
  opacity: 1 !important;
  padding: 28px;
}

section#Virtual-tour .card{
  background: #FFFFFF 0% 0%;
  box-shadow: 0px 3px 6px #0000004D !important;
  border-radius: 5px !important;
  opacity: 1 !important;
}



.hero-title h1 {
  font-size: 56px;
  line-height: 50px;
  color: #ffff;
  font-weight: 600;
}


button.carousel-control-next {
  left: 100%;
}


a.navbar-brand img {
  width: 100%;
  max-width: 100%;
}


a.navbar-brand {
  width: 100%;
  max-width: 16%;
}

button.carousel-control-prev {left: -100px;}


section#Louisiana {
  padding-top: 100px !important;
  padding-bottom: 100px !important;
}

div#videoCarousel {
  width: 100%;
  max-width: 53%;
  margin: 0 auto;
}


section#accreditation {
  background: #f2f2f2 !important;
  padding-top: 100px !important;
  padding-bottom: 100px !important;
}


section#Virtual-tour {
  padding-top: 100px !important;
  padding-bottom: 100px !important;
}

section#Virtual-tour h2 {
  font-size: 40px;
  line-height: 50px;
  font-style: normal;
}


div#navbarNav ul li a {
  padding-left: 30px;
  padding-right: 30px;
  text-align: left;
  font: normal normal 600 18px/30px Catamaran;
  letter-spacing: 0px;
  color: #54585A !important;
  opacity: 1;
}

/* hero */

.hero-section {
  background: url("../img/banner.png") center center/cover no-repeat;
  height: 86vh;
  position: relative;
  color: white;
  display: flex;
  align-items: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: rgb(0 0 0 / 64%); */ /* Optional: dim overlay */
  background: #f2f2f270 0% 0% no-repeat padding-box;
  opacity: 1;
}

.hero-content {
  position: relative;
  z-index: 2;
  top: 50%;
  transform: translateY(-50%);
  text-align: left;
  padding-left: 4rem;
}

.hero-title {
  font-size: 3rem;
  font-weight: bold;
}

.hero-subtitle {
  font-size: 1.5rem;
  margin-top: 1rem;
}

div#navbarNav {
  padding-left: 50px;
}


header.cornerstone {
  background: #ffffff !important;
}



footer img {
  width: 100%;
  max-width: 130px !important;
  margin-bottom: 30px;
}